html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);

    --body-bg: #292e39;
    --header-gb-color: #171c28;
    --top-act-group-gb-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;
}
