html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(42%) saturate(920%) hue-rotate(210deg) brightness(100%) contrast(96%);

    --header-gb-color: #eee;
    --top-act-group-gb-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
}
