*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(42%) saturate(920%) hue-rotate(210deg) brightness(100%) contrast(96%);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

button,
input,
select,
textarea {
    font-family: inherit;
    color: inherit;
}

.icon {
    filter: var(--icon-color);
}
