<div class="container">
    <div class="top-bar">
        <!-- Start More -->
        <button class="top-bar__more">
            <img src="./assets/icons/more.svg" alt="" class="icon top-bar__more-icon" />
        </button>
        <!-- End More -->

        <!-- Start Logo -->
        <div class="logo">
            <a href="./">
                <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
            </a>
            <h1 class="logo__title">grocerymart</h1>
        </div>
        <!-- End Logo -->

        <!-- Start Navbar -->
        <nav class="navbar">
            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="" class="navbar__link"
                        >Departments
                        <img src="./assets/icons/arrow-down.svg" alt="" class="icon navbar__arrow" />
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem 1 ipsum dolor sit amet consectetur adipisicing elit. Magni aliquid, reiciendis adipisci ex, rem asperiores est dolorem saepe vitae quo maxime sint, labore expedita
                            vel iusto? Animi ratione eaque officia.
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link"
                        >Grocery
                        <img src="./assets/icons/arrow-down.svg" alt="" class="icon navbar__arrow" />
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem 2 ipsum dolor sit amet consectetur adipisicing elit. Magni aliquid, reiciendis adipisci ex, rem asperiores est dolorem saepe vitae quo maxime sint, labore expedita
                            vel iusto? Animi ratione eaque officia.
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link"
                        >Beauty
                        <img src="./assets/icons/arrow-down.svg" alt="" class="icon navbar__arrow" />
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem 3 ipsum dolor sit amet consectetur adipisicing elit. Magni aliquid, reiciendis adipisci ex, rem asperiores est dolorem saepe vitae quo maxime sint, labore expedita
                            vel iusto? Animi ratione eaque officia.
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- End Navbar -->

        <!-- Start Actions -->
        <div class="top-act">
            <div class="top-act__group top-act__group--single">
                <button class="top-act__btn">
                    <img src="./assets/icons/search.svg" alt="" class="icon top-act__icon" />
                </button>
            </div>

            <div class="top-act__group">
                <button class="top-act__btn">
                    <img src="./assets/icons/heart.svg" alt="" class="icon top-act__icon" />
                    <span class="top-act__title">03</span>
                </button>

                <div class="top-act__separate"></div>

                <button class="top-act__btn">
                    <img src="./assets/icons/buy.svg" alt="" class="icon top-act__icon" />
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>

            <div class="top-act__user">
                <img src="./assets/images/avatar.jpeg" alt="" class="top-act__avatar" />
            </div>
        </div>
        <!-- End Actions -->
    </div>
</div>
